body {
  background-color: rgb(174, 174, 174);
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 1);
}

p {
	font-weight: 300;
	line-height: 120%;
}

.banner { 
	position: relative; 
	overflow: auto; 
}

.banner li { 
	list-style: none;
}
      
.banner ul li { 
	float: left; 
}

.bannerNavigate{
	position:absolute;
	z-index: 1;
	color: #F7B94A;
	left: 50px;
	top: 10px;
	font-size: 0.8em;
}


ul li{ 
   list-style-type: disc; 
   list-style-position: inside;
   padding-left: 20px;
   padding-bottom: 5px; 
   margin-bottom: 10px; 
   font-weight: 300;
}
ol li{ 
   list-style-type: decimal; 
   list-style-position: inside;
   padding-left: 20px;
   padding-bottom: 5px; 
   margin-bottom: 10px; 
   font-weight: 300;
}
ul ul, ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
   margin-left: 15px; 
}
ol ol, ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}

.number-items button {
  top: -0.1em;
  left: 60%;
  z-index: 21;
  width: 40%;
  height: 2.9em;
  border: 0.2em solid rgb(91, 22, 46);
  border-radius: 2.4em;
  background-color: rgba(222, 222, 222, 0);
  font-size: 1.3em;
  font-weight: 700;
  color: rgb(91, 22, 46);
}

.number-items button:hover {
  background-color: rgb(255, 205, 117);
}

.number-items button:active {
  background-color: rgb(228, 146, 0);
}

button {
  display: block;
  position: absolute;
  line-height: 1.38;
  text-align: center;
}

footer {
  position: relative;
  top: 17.5em;
  left: 0;
  right: 0;
  z-index: 3;
  width: 960px;
  height: 12.538em;
  margin: 0 auto;
  background-color: #350013;
}

footer img {
  left: 0;
  z-index: 1;
  width: 93px;
}

header {
  position: absolute;
  top: 30;
  left: 0;
  right: 0;
  z-index: 46;
  width: 960px;
  height: 13.462em;
  margin: 0 auto;
  background-image: url('../images/hispanic-liverpool-banner.jpg');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left top;
}

.warwick-logo-new {
  float: left;
  width: 22.2875816993%;
  height: 3.154em;
  background-image: url('../images/logotype-colour-01.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.omeka-logo {
  float: left;
  width: 15%;
  height: 8.231em;
  background-image: url('../images/omeka-01.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

header button {
  top: 0.538em;
  left: 77.6383196721%;
  z-index: 31;
  width: 21.3763661202%;
  height: 3.231em;
  border-radius: 0.231em;
  background-color: rgb(247, 185, 74);
  font-size: 1em;
  font-weight: 400;
  color: rgba(163, 39, 82, 1);
}

header button:hover {
  background-color: rgb(253, 203, 113);
}

header button:active {
  background-color: rgb(249, 160, 0);
}

header img {
  left: -0.0272331155%;
  z-index: 44;
  width: 165px;
}

header section {
  top: 10.96em;
  z-index: 36;
  height: 6.538em;
  background-color: #5b162e;
}

img {
  display: block;
  top: 0;
  height: auto;
  overflow: hidden;
}

input {
  display: block;
  float: left;
  padding: 5px 2px;
  background-color: #ffdd00;
  font-size: 1em;
  line-height: 1.38;
  color: rgba(0, 0, 0, 1);
  border: 1px solid gainsboro;
}

form label{
	font-weight: 500;
}

section {
  position: absolute;
  left: 0;
  right: 0;
  width: 960px;
  margin: 0 auto;
}

.disclaimer-container p {
  margin-bottom: 1em;
}

.about-collection a{
  float: right;
  margin: 1.538em 39.98122% 0 0;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(247, 185, 74);
}

.black-bar {
  position: absolute;
  top: 3.077em;
  left: 0;
  height: 19.923em;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 48.095238095238095%, rgb(0, 0, 0) 100%);
  background-image:    -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 48.095238095238095%, rgb(0, 0, 0) 100%);
  background-image:      -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 48.095238095238095%, rgb(0, 0, 0) 100%);
  background-image:     -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 48.095238095238095%, rgb(0, 0, 0) 100%);
  background-image:         linear-gradient(180deg, rgba(0, 0, 0, 0) 48.095238095238095%, rgb(0, 0, 0) 100%);
  background-repeat: no-repeat;
}

.contact a{
  float: left;
  margin-left: 10.56212%;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(247, 185, 74);
}

.desc-text {
  float: left;
  clear: both;
  width: 100%;
  min-height: 18.846em;
  margin-top: 0.846em;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.desc-title {
  float: left;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(247, 185, 74);
}

.disclaimer {
  width: 64%;
  min-height: 10.7em;
  margin-left: 19.91594%;
  font-size: 0.769em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(145, 145, 145);
}

.disclaimer-container {
  position: relative;
  float: left;
  width: 61.1865234374%;
  height: 8.231em;
  margin: 2.308em 0 0 2.8125%;
}

.element {
  visibility: hidden;
  position: relative;
  float: left;
  z-index: 4;
  width: 100%;
  height: 25.769em;
  background-color: #ffe5bb;
}

.featured-collection {
	text-align: center;
	overflow: hidden;
  position: absolute;
  top: 0;
  left: 67.5027262813%;
  z-index: 12;
  width: 32.3882224645%;
  height: 23em;
}

.featured-collection .item-title2{
	position:absolute;
	top:285px;
}

.featured-collection a{
	color: rgb(247,185, 74);
}

.featured-collection a:hover{
	color: rgba(255, 222, 164, 1);
}


.featured-collection .black-bar {
  z-index: 9;
  width: 100%;
}

.featured-collection .img-base {
  z-index: 8;
}

#collection-items{
	margin-top: 20px;
}

.featured-container {
  position: absolute;
  top: 1.308em;
  left: 0;
  right: 0;
  z-index: 18;
  width: 95.1041666666%;
  height: 23em;
  margin: 0 auto;
}

.featured-container-main {
	position:relative;
  top: 17.5em;
  z-index: 19;
  height: 25.769em;
  background-color: rgba(255, 255, 255, 1);
}

.featured-item {
	text-align: center;
  position: absolute;
  top: 0;
  left: -0.0034078517%;
  z-index: 17;
  width: 32.3660714285%;
  height: 23em;
  overflow: hidden;
}

.featured-item .black-bar {
  z-index: 14;
  width: 99.9312605752%;
}

.featured-item .img-base {
  z-index: 13;
}

.featured-item .item-title{
	position:absolute;
	top:285px;
	width: 90%;
}

.disclaimer p{
	width: 700px;
}


.featured-item a{
	color: rgb(247,185, 74);
}

.featured-item a:hover{
	color: rgba(255, 222, 164, 1);
}

.about-collection,
.how-contribute {
	position: relative;
	top: 9px;
}

.home a{
  position: absolute;
  top: 0;
  left: 7%;
  z-index: 39;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(247, 185, 74);
}

.how-contribute a{
  position: absolute;
  top: 1.538em;
  right: 25.5532786885%;
  z-index: 33;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(247, 185, 74);
}

.about-collection a:hover,
.contact a:hover,
.home a:hover,
.how-contribute a:hover,
.project_page a:hover {
  color: rgb(255, 205, 117);
}

.img-base {
  position: relative;
  float: left;
  clear: both;
  width: 99.9316077441%;
  height: 19.923em;
  margin-top: 1em;
}

.img-base img{
	height: 100%;
}

.insert-tag-cloud-here {
  float: left;
  clear: both;
  width: 99.9316077441%;
  height: 19.923em;
  margin-top: 1em;
  overflow:scroll;
}

.item-title {
  position: absolute;
  top: 18.714em;
  left: 0;
  right: 0;
  z-index: 15;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  color: rgb(247, 185, 74);
}

.item-title2 {
  position: absolute;
  top: 18.714em;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  font-size: 1.077em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  color: rgb(247, 185, 74);
}

.main-img {
  position: absolute;
  top: 0;
  left: -0.0017057861%;
  z-index: 24;
  width: 548px;
  height: 24.077em;
  background: url('../images/project%20desc.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.main-pro-desc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 29;
  width: 916px;
  height: 24.077em;
  margin: 0 auto;
}

.main_header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 45;
  width: 918px;
  height: 11.692em;
  margin: 0 auto;
}

.main_menu {
  position: absolute;
  top: 8em;
  left: 65%;
  z-index: 40;
  width: 40.3921568627%;
  height: 1.308em;
}

.main_menu i{
	margin-left: 20px;
	position:absolute;
	top:-7px;
	color: gold;
}

.main_menu i:hover{
	color: #fffca0;
}
	

.main_title {
  float: left;
  margin-left: 1.43885%;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.2;
  color: #f7b94a;
  width: 300px;
}

.number {
  position: absolute;
  top: 0.8em;
  left: 0;
  z-index: 20;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.38;
  color: rgb(91, 22, 46);
}

.number-collection {
	position:relative;
	top: 17.5em;
  z-index: 23;
  height: 8em;
  background-color: rgb(247, 185, 74);
}

.number-items {
  position: relative;
  width: 810px;
  height: 4.462em;
  margin: 1.923em auto 0;
}

.pro-desc {
  float: left;
  width: 367px;
  height: 24.077em;
  margin-left: 59.82362%;
  background-color: rgb(162, 39, 82);
}

.pro-desc-main {
	position:relative;
  top: 17.5em;
  z-index: 30;
  height: 25.385em;
  background-color: rgb(91, 22, 46);
}

.project-desc {
  float: left;
  width: 91.0081743869%;
  height: 21.769em;
  margin: 0.923em 0 0 4.63641%;
}

.project_page a{
  float: left;
  margin-left: 27.26817%;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(247, 185, 74);
}

.sc-bar {
  position: relative;
  width: 915px;
  height: 4.231em;
  margin: 1.154em auto 0;
  background-color: #a32752;
}

.site_title {
  position: absolute;
  top: 6.846em;
  left: -0.0272331155%;
  z-index: 43;
  width: 45.4248366013%;
  height: 4.846em;
}

.subtitle {
  float: left;
  clear: both;
  margin-left: 1.43885%;
  font-size: 0.83em;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 5px;
  color: rgba(248, 184, 74, 1);
}

.tag-cloud-container {
  position: absolute;
  top: 0;
  left: 33.6951335877%;
  z-index: 7;
  width: 32.3660714285%;
  height: 23em;
}

.collection-text,
.featured-text,
.tags-cloud {
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  color: rgb(91, 22, 46);
}

#primary{
	position:relative;
	margin: 0 auto;
	min-height: 300px;
	height: auto;
	width: 960px;
	top: 17.5em;
	padding: 20px 30px;
	background-color: rgba(255, 255, 255, 1);
}

#primary h1{
	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
}



/* =====Styles for Contact Us page====*/
#form-instructions{
	text-align: center;
}

#flash{
	text-align: center;
	color: #ff0000;
	font-weight: 700;
}

#simple-contact{
	padding: 20px 0;
	height: 680px;
}

#contact-form{
	height: 400px;
}

#contact-form input{
	width: 300px;
	background-color: #ffffff;
}

#contact-form #send{
	background-color: #ffdd00;
	position:absolute;
	top: 580px;
	left: 280px;
	height: 50px;
}

fieldset {
  margin-left: auto;
}

form {
  width: 750;
  height: auto;
  margin: 0 auto;
}


.field-1 {
  width: 80.2858903265%;
  height: 5.154em;
  margin: 0 auto;

}

.field-2 {
  width: 80.3033292231%;
  height: 5.154em;
  margin: 0 auto 0;

}

.field-3 {
  width: 80.3353884093%;
  height: 14.077em;
  margin: 1.308em auto 0;

}

.field-4 {
  float: left;
  width: 48.4239063462%;
  height: 3.692em;
  margin: 0.385em 0 0 25.6759099999%;

}

.inputs-1 {
  width: 67.7799607072%;
  height: 5.154em;
  margin-right: 0.19646%;
}

.inputs-2 {
  width: 67.9175751619%;
  height: 5.154em;
  margin-right: 0.00921%;
}

.inputs-3 {
  width: 68.010191552%;
  height: 14.077em;
  margin-right: 0.0061399999%;
}

._container-4 {
  height: 29.154em;
  margin-top: 3.231em;
  margin-left: 8em;
}

._container-5 {
  height: 18.538em;
  padding-left: 165px;
}

._container-5 input{
  margin-top:  100px;
}

.inputs-3 textarea{
	padding: 10px;
	height: 150px;
	width: 500px;
}

#recaptcha_widget_div{
	position:absolute;
	left: 270px;
	top: 540px;
}

#recaptcha_response_field{
	height: 1.3em;
	color: white;
}
/* ====Styles for Contact Us page END=====*/


/* ====Styles for Simple Page=====*/

strong{
	font-weight: 500;
}

em{
	font-style: italic;
}



#primary p{
	padding: 10px 0;
}

/* ====Styles for Simple Page END=====*/


/* ====Styles for Search Bar=====*/

::-webkit-input-placeholder{
	color:black;
	padding-left: 5px;
}

.searchbar{
	width: 315px;
	height: 55px !important;
	float: left;
}

.searchbar input{
	width: 400px;
	height: 68px;
	padding-left: 10px;
	color: black;
	background-color: white;
}

.searchbar i{
	position: absolute;
	left: 355px;
	top: 17px;
	color: black;
}

/* ====Styles for Search Bar END=====*/

/* ====Styles for Contribution Page=====*/

#contribution-item-metadata{
	text-align: center;
	width: 595px;
	margin: 20px auto;
}


#contribution-item-metadata .inputs{
	float:inherit;
}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

#contribution-confirm-submit input{
	margin-right: 10px;
}

#contribution-confirm-submit{
	height: 150px;
	width: 595px;
	margin: 0 auto;
}

#contribution-confirm-submit #form-submit{
	width: 200px;
	height: 50px;
	position:absolute;
	left: 380px;
	margin-top: 20px;
}

#contribution-type-form{
	padding-top: 30px;
	text-align: center;
	color: black;
}

#contribution-type-form h2{
	font-size: 1.5em;
	font-weight: 700;
	margin-bottom: 20px;

}

#contribution-type-form .field{
	padding-bottom: 70px;
}

#contribution-type-form input{
	background-color: #ffffff;
	width: 595px;
}

#contribution-type-form #contributed_file{
	background-color: rgba(255, 255, 255, 0);
}

textarea {
	width: 595px;
	height: 100px;
	padding: 10px;
	margin-bottom: -55px;
	border: 1px solid gainsboro;
}

#contribution-type-form .explanation {
	width: 595px;
	text-align: center;
	font-style: italic;
}

.field #contributed_file{
	text-align: -webkit-center;
}

/* ====Styles for Contribution Page END=====*/

/* ====Styles for Registration Form Page=====*/

.register_form{
	width: 595px;
	min-height: 500px;
	margin: 0 auto;
	
}

.register_form .field{
	width: 595px;
}

.register_form input{
	background-color: #ffffff;
}

.register_form .field #username{
	margin-left: 190px;
}

.register_form #submit{
	background-color: #ffdd00;
	position:absolute;
	top: 550px;
	left:350px;
	width: 200px;
	height: 50px;
}

.register_form #recaptcha_widget_div{
	position: absolute;
	top:415px;
	left: 380px;
}

.noimage{
	color: white;
	text-align: center;
	margin-top: 250px;
}

/* ====Styles for Registration Form Page END=====*/

/* ====Styles for Login Page=====*/

#login-form{
	width:595px; 
	position: absolute;
	left: 180px;
	padding-top: 20px;
}

#login-form #submit{
	position:absolute;
	left: 160px;
}

#fieldset-login .field{
	padding-bottom: 50px;
}

#login-form input{
	background-color: #ffffff;
}

#login-form #submit{
	background-color: #ffdd00;
}

.login-divs{
	min-height: 400px;
}

#login-links{
	text-align: center;
}

#fieldset-login{
	position:absolute;
	left: 250px;
}

#login-form #submit{
	position:absolute;
	top: 200px;
	width: 300px;
	height: 50px;
}

/* ====Styles for Login Page END=====*/

/* ====Styles for Tags Cloud=====*/

.hTagcloud li{
	float:left;
	/*padding-right: 5px;
	padding-top: 10px;*/
	list-style: none;
	min-height: 10px;
	height:auto;
}

.hTagcloud li a{
		color: #ffffff; 
		background-color: #6f0000;
		border-radius: 5px;
		padding: 3px; 
		font-weight: 400;
}

.hTagcloud li a:hover{
	background-color: rgb(91,22,46);
}
/* ====Styles for Tags Cloud END=====*/

/* ====Styles for Sort Bar=====*/

#sort-links{
	color:white;
	margin: 10px;
	height: 40px;
	padding: 5px;
	background-color: #5b162e;
}

.sort-label{
	float:left;
	padding-top: 5px;
	padding-left: 10px;
}

#sort-links .sort-label{
	font-weight: 400;
}

#sort-links li{
	display: inline;
	float:left;
	padding-right: 20px;
	padding-top: 5px;
}

#sort-links li a{
	color: #ffc400;
}

#sort-links li a:hover{
	color: #ffe48b;
}


/* ====Styles for Sort Bar END=====*/


/* ====Styles for Forgot Password Page=====*/

.forgot-divs{
	width: 595px;
	height: 400px;
	margin: 0 auto;
}

.forgot-divs p{
	text-align: center;
}

.forgot-divs form{
	float:left;
	display: inline-block;
	height: 250px;
	width: 595px;
}

.forgot-divs .field{
	text-align: center;
}

.forgot-divs .field input{
	float:none;
	margin:0 auto;
	width: 300px;
	background-color: white;
}

.forgot-divs form .submit{
	margin: 20px auto;
	float: none;
	width: 200px;
	height: 50px;
}

/* ====Styles for Forgot Password Page END=====*/

/* ====Styles for items/browse Page=====*/

.items-nav.navigation.secondary-nav{
	text-align: center;
	padding-top: 20px;
}

.items-nav.navigation.secondary-nav li{
	list-style: none;
	display: inline-block;
	padding-right: 20px;
}

.pagination{
	height: 28px;
	margin: 20px 0px;
}

.pagination li{
	text-align: center;
	display: block;
	float: left;
	width: 33%;
	vertical-align: middle;
}
/* ====Styles for items/browse Page END=====*/

/* ====Styles for dynamic Cards=====*/

.dynamic-card-section{
	margin-left: 20px;
}

.card-element {
  /*float: left;*/
  display: inline-block;
  margin: 20px;
  clear: both;
  width: 245px;
  min-height: 25em;
  height:auto;
  /*margin-left: 10%;*/
  background-color: rgba(248, 184, 74, 1);
  box-shadow: 0px 5px 5px #888888;
}

.card-element-collection {
  /*float: left;*/
  display: inline-block;
  margin: 20px;
  clear: both;
  width: 245px;
  min-height: 21em;
  height:auto;
  /*margin-left: 10%;*/
  background-color: rgba(248, 184, 74, 1);
  box-shadow: 0px 5px 5px #888888;
}

.card-image {
  position: relative;
  float: left;
  z-index: 58;
  width: 222px;
  height: 18.923em;
  margin: 0.923em 0 0 5.29337%;
  background-color: rgb(255, 255, 255);
}

.card-image img{
	height: 100%;
}

.card-image-black-bar {
  position: relative;
  float: left;
  clear: both;
  z-index: 59;
  width: 222px;
  height: 18.923em;
  margin: -18.923em 0 0 5.29337%;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  background-image:    -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  background-image:      -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  background-image:     -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  background-image:         linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.card-tags {
  width: 222px;
  height: 4.077em;
  margin: 20.308em auto 0;
}

.card-tags p{
	font-size: 0.8em;
}

.card-tags a:hover{
	text-decoration: underline;
}

.card-title {
	text-align: center;
	font-weight: 400;
  position: relative;
  float: left;
  z-index: 60;
  width: 203px;
  height: 3.615em;
  margin: -6em 0 0 9.387755102%;
}

.pagination form input{
	background-color: white;
	width: 30px;
	position: relative;
	top: -8px;
	left: 100px;
}

.card-title h2 a{
	color: rgba(248, 184, 74, 1);
}

.card-title h2 a:hover{
	color: rgba(255, 216, 148, 1);
}

/* ====Styles for dynamic Cards END=====*/

/* ====Styles for Tags Page=====*/

.tags-divs{
	min-height: 950px;
	height:auto;
	margin-top: 20px;
	width: 600px; 
	margin: 20px auto;
}
.popular{
	font-size: 0.7em;
}
.v-popular{
	font-size: 0.9em;
}
.vv-popular{
	font-size: 1.1em;
}
.vvv-popular{
	font-size: 1.3em;
}
.vvvv-popular{
	font-size: 1.5em;
}
.vvvvvvvv-popular{
	font-size: 1.7em;
}

/* ====Styles for Tags Page END=====*/

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* ====Styles for Comments Section=====*/
#comments-container{
	min-height: 400px;
	height: auto;
	margin-top: 20px;
	padding-top: 20px;
	font-size: 0.8em;
	background-color: rgba(255, 255, 255, 1);
}

#comments-container #comment-form{
	height: 350px;
}

.comments h2{
	text-align: left;
	font-weight: 400;
	font-size: 2em;
	color: rgba(230, 150, 12, 1);
}

.comments {
	min-height: 200px;
	height: auto;
}

#comments-container .comment{
	min-height: 180px;
	height: auto;
	width: 100%;
	padding: 20px;
	display: inline-block;
}

#comments-container .comment-body{
	min-height: 160px;
	height:auto;
	padding-left: 30px;
	background-color: #fbe5e5;
}

#comments-container .comment-author img{
	width: 70px;
}

.comment-children{
	border-left: 3px solid #830000;
	margin-top: 20px;
}


.commenting-field{
	display:flex;
}

.commenting-field input{
	background-color: #ffffff;
	border: 1px solid #898989;
}

.commenting-explanation{
	display:none;
}

#comment-form #submit{
	position:absolute;
	left: 430px;
	width: 200px;
	height: 50px;
}


/* ====Styles for Comments Section END=====*/

/* ====Styles for items/show Page=====*/

#primary-2{
	position:relative;
	margin: 0 auto;
	min-height: 300px;
	height: auto;
	width: 960px;
	top: 17.5em;
	padding: 20px;
	background-color: #5B162E;
}

.items-main-image{
	width: 100%;
	height: 500px;
	overflow: hidden;
	background-color: rgba(16, 10, 0, 1);
}

.items-main-image img{
	display:block;
	margin: 0 auto;
	height:500px;
	width:auto;
}

.items-info{
	width: 100%;
	min-height: 500px;
	height: auto;
	background-color: #ffffff;
}

#primary-2 .items-title-tags{
	width: 920px;
	height: 80px;
	display: block;
	

}
.items-title-hz{
	width: 100%;
	float: left;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 50px;
	height:auto;
	font-weight: 400;
	font-size: 1.4em;
	color: rgba(230, 150, 12, 1);
}

.items-tags-hz{
	width: 100%;
	min-height: 10px;
	height:auto;
	float:left;
	padding: 20px;
}

.items-tags-hz a{
	color: #6f0000;
	padding: 2px;
	font-style: italic;
}

.items-tags-hz a:hover{
	text-decoration: underline;
}

.items-more-info{

	min-height: 100px;
	height:auto;
	padding: 20px;
	font-weight: 400;
	font-size: 0.9em;
	color: rgba(82, 82, 82, 1);
}

.items-stories-hz{
	padding: 10px 20px 20px 20px;
	font-size: 1.1em;
}

.items-stories-hz p{
	margin-bottom: 50px;
}

/* ====Styles for items/show Page END=====*/

ul.item-pagination.navigation{
	display:inline;
	
}

.item-pagination li{
	list-style: none;
}

li#previous-item.previous{
	padding-right: 100px;
	padding-left: 280px;
	float: left;
}

/* ====Styles for Advanced Search Form Page=====*/

#advanced-search-form{
	height: 700px;
	margin-top: 30px;
}

#advanced-search-form input{
	background-color: white;
}

#advanced-search-form .submit{
	height: 50px;
	margin-top: 30px;
	width: 150px;
	background-color: #ffdd00;
}

#advanced-search-form .field{
	margin-top: 10px;

}



#search-keywords{
	float: left;
    display: block;
    height: 80px;
    width: 100%;
}

#search-by-range{
	float: left;
    display: block;
    height: 80px;
    width: 100%;
}


#search-narrow-by-fields{
	float: left;
    display: block;
    min-height: 80px;
    height:auto;
    width: 100%;
}

.search-entry {
	float: left;
    display: block;
    min-height: 40px;
    height:auto;
    width: 100%;
    margin: 5px 0px;
}

button.add_search{
	position:relative;
	margin-bottom: 20px;
}

/* ====Styles for Advanced Search Form Page END=====*/